@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
.dark{
  --background: #000000;
  --foreground: #ffffff;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-funnel-sans);
}

html, body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-funnel-sans);
  height: 100%;
  overflow-x: hidden;
}
::selection{
  background-color: #ffffff;
  color: #171717;
}